{% load static %}
<footer id="footer">
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_contact">
                    <h3 class="widget_title">Where We Are ?</h3>
                    <p>AskDev is a question and answer platform to help developers get answer to their technical questions.</p>
                  
                </div>
            </div>
   
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget_title">Popular Questions</h3>
                    <ul class="related-posts">
                        <li class="related-item">
                            <h3><a href="#">How to learn React</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                            <div class="clear"></div><span>Feb 22, 2014</span>
                        </li>
                        <li class="related-item">
                            <h3><a href="#">How do I learn Javascript js</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                            <div class="clear"></div><span>Feb 22, 2014</span>
                        </li>
                    </ul>
                </div>	
            </div>
            <div class="col-md-3">
                <div class="widget widget_twitter">
                    <h3 class="widget_title">Latest Tweets</h3>
                    <div class="tweet_1"></div>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</footer><!-- End footer -->
<footer id="footer-bottom">
    <section class="container">
        <div class="copyrights f_left">Copyright 2020 AskDev | <a href="http://duraanali.com">By Duraan Ali</a></div>
        <div class="social_icons f_right">
            <ul>
                <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a></li>
                <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a></li>
                <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a></li>
                <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a></li>
                <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a></li>
                <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a></li>
                <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a></li>
            </ul>
        </div><!-- End social_icons -->
    </section><!-- End container -->
</footer><!-- End footer-bottom -->
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>

<!-- js -->

<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-ui-1.10.3.custom.min.js' %}"></script>

<script type="text/javascript" src="{% static '/js/jquery.easing.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/html5.js' %}"></script>
<script type="text/javascript" src="{% static '/js/twitter/jquery.tweet.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jflickrfeed.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.inview.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.tipsy.js' %}"></script>
<script type="text/javascript" src="{% static '/js/tabs.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.scrollTo.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static '/js/tags.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.bxslider.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/custom.js' %}"></script>

<!-- End js -->

</body>
</html>