{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Ask me – Responsive Questions and Answers Template</title>
	<meta name="description" content="Ask me Responsive Questions and Answers Template">
	<meta name="author" content="vbegy">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
  <!-- Main Style -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
	
	<!-- Skins -->
	<link rel="stylesheet" href="{% static '/css/skins/skins.css' %}">
	
	<!-- Responsive Style -->
	<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
	
	<!-- Favicons -->
	<link rel="stylesheet" href="{% static '/images/favicon.png' %}">
<style>
	.form-custom-style {
		display: inline-block;
    width: 85%;
    /* margin: 0; */
    -moz-box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;

	}
</style>
</head>
<body>

<div class="loader"><div class="loader_html"></div></div>

<div id="wrap" class="grid_1200">

