{% load static %}

	{% include 'include/header.html' %}
	{% include 'include/nav.html' %}
	<div class="section-warp ask-me">
		<div class="container clearfix">
			<div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
				<div class="row">
					<div class="col-md-12">
						<h2>Welcome to AskDev, a place with answers to your tech questions</h2>
						<p>AskDev has dedicated developers answering highly technical questions about programming and devops. We have questions about almost every aspect of programming and technology. We encourage people to share their knowledge and earn points to show their expertise.</p>
						<div class="clearfix"></div>
						{% if user.is_authenticated %}
						<a class="color button dark_button medium" href="/{{'ask_question'}}">Ask Question</a>
						{% else %}
						<a class="color button dark_button medium" href="/{{'register'}}">Join Now</a>
						{% endif %}
						<div class="clearfix"></div>
					<p></p>

					</div>
				</div><!-- End row -->
			</div><!-- End box_icon -->
		</div><!-- End container -->
	</div><!-- End section-warp -->
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
			{% block content %}
			
			{% endblock %}
			
			</div><!-- End main -->
			{% include 'include/sidebar.html' %}
		</div><!-- End row -->
	</section><!-- End container -->
	
	{% include 'include/footer.html' %}
