{% load static %}
{% include 'include/header.html' %}
{% include 'include/nav.html' %}
<p></p>
<section class="container main-content">
    <div class="row">
        <div class="col-md-12">

                <div class="row">
                    <div class="user-profile">
                        <div class="col-md-12">
                            <div class="page-content">
                                <h2>Hi {{current_user}}, Welcome!</h2>
                                <div class="user-profile-img"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444"
                                        alt="admin"></div>
                                <div class="ul_list ul_list-icon-ok about-user">
                                    <ul>
                                        <li><i class="icon-plus"></i>Registerd : <span> {{current_user.date_joined}}</span></li>
                                        <li><i class="icon-envelope-alt"></i>Email : <span>{{current_user.email}}</span></li>
                                        <li><i class="icon-globe"></i>Country : {{current_user.country}}</li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet
                                    suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate
                                    posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce
                                    placerat venenatis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada .
                                </p>
                                <div class="clearfix"></div>
                               
                            </div><!-- End page-content -->
                        </div><!-- End col-md-12 -->
                        <div class="col-md-12">
                            <div class="page-content page-content-user-profile">
                                <div class="user-profile-widget">
                                    <h2>User Stats</h2>
                                    <div class="ul_list ul_list-icon-ok">
                                        <ul>
                                            <li><i class="icon-question-sign"></i><a href="user_questions.html">Questions<span> (
                                                        <span>{{logged_in_user_questions_num}}</span> ) </span></a></li>
                                            <li><i class="icon-comment"></i><a href="user_answers.html">Answers<span> (
                                                        <span>{{logged_in_user_answers_num}}</span> ) </span></a></li>
                                          
                                        </ul>
                                    </div>
                                </div><!-- End user-profile-widget -->
                            </div><!-- End page-content -->
                        </div><!-- End col-md-12 -->
                    </div><!-- End user-profile -->
                </div><!-- End row -->
                <div class="clearfix"></div>
                <div class="page-content page-content-user">
                    {% for question in logged_in_user_questions %}
                    <div class="user-questions">
                        <article class="question user-question">
                            <h3>
                                <a href="/{{question.id}}/question_detail">{{question.title}}</a>
                            </h3>
                            <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                            <div class="question-content">
                                <div class="question-bottom">
                                    {% if question.status == 1 %}
                                    <div class="question-answered question-answered-done"><i class="icon-remove"></i>Not Solved</div>
                                    {% else %}
                                    <div class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</div>
                                    {% endif %}
                                    <span class="question-favorite"><i class="icon-star"></i>5</span>
                                    <span class="question-category"><a href="#"><i
                                                class="icon-folder-close"></i>wordpress</a></span>
                                    <span class="question-date"><i class="icon-time"></i>{{ question.created|timesince }} ago</span>
                                    <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answers</a></span>
                                    <a class="question-reply" href="#"><i class="icon-reply"></i>Reply</a>
                          
                                </div>
                            </div>
                        </article>
                       
                    </div>
                    {% endfor %}
                </div>
            
                <div class="height_20"></div>
            
                <div class="pagination">
                    <a href="#" class="prev-button"><i class="icon-angle-left"></i></a>
                    <span class="current">1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <span>...</span>
                    <a href="#">11</a>
                    <a href="#">12</a>
                    <a href="#">13</a>
                    <a href="#" class="next-button"><i class="icon-angle-right"></i></a>
                </div><!-- End pagination -->
                <!-- if no questions
            				<p>No questions yet</p>
            				-->

        </div><!-- End main -->


    </div><!-- End row -->
</section><!-- End container -->

{% include 'include/footer.html' %}