{% extends "single_question.html" %}



{% block single %}

      <article class="question single-question question-type-normal">
        
        <h2>
         {{singleQuestion.title}}
        </h2>
        
        <div class="question-inner">
   
          <div class="question-desc">
            <p>{{singleQuestion.description}}</p>
          </div>
          <div style="display: flex;">
          <div class="question-details">
            {% if singleQuestion.status == 1 %}
            <span class="question-answered question-answered-done"><i class="icon-remove"></i>Not Solved</span>
            {% else %}
            <span class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</span>
            {% endif %}
          </div>
          <span class="question-date"><i class="icon-time"></i>Asked {{ singleQuestion.created|timesince }} ago</span>
          <span class="question-comment"><i class="icon-comment"></i>{{number_answers}} Answer(s)</span>
          <span class="question-view"><i class="icon-user"></i>Asked By {{ singleQuestion.author }}</span>
          {% if user.is_authenticated and request.user == singleQuestion.author %}
          <a style="margin-left: 20px;" href="/{{singleQuestion.id}}/edit_question">
            <div class="question-comment"><i class="icon-pencil"></i>Edit</div>
          </a>
          <a class="question-comment" href="/{{singleQuestion.id}}/delete_question">
            <i class="icon-remove"></i>Delete
          </a> 
          
          {% endif %}
      
          </div>
          <div class="clearfix"></div>
        </div>
      </article>
      
  

      <div id="commentlist" class="page-content">
        <div class="boxedtitle page-title"><h2>Answers ( <span class="color">{{number_answers}}</span> )</h2></div>
        <ol class="commentlist clearfix">
            <li class="comment">
                {% for answer in singleQuestion.answersByQuestion.all %}
                <div class="comment-body comment-body-answered clearfix"> 
                    <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
                    <div class="comment-text">
                        <div class="author clearfix">
                          <div class="comment-author"><a href="#">{{ answer.user }}</a></div>
                          <div class="comment-vote">
                            <ul class="question-vote">
                              <li><a href="#" class="question-vote-up" title="Like"></a></li>
                              <li><a href="#" class="question-vote-down" title="Dislike"></a></li>
                            </ul>
                          </div>
                          <span class="question-vote-result">+1</span>
                          <div class="comment-meta">
                                <div class="date"><i class="icon-time"></i>{{ answer.created }}</div> 
                            </div>
                            <!-- <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>  -->
                        </div>
                        <div class="text"><p>{{ answer.reply }}</p>
                        </div>
                <!-- <div class="question-answered question-answered-done"><i class="icon-ok"></i>Best Answer</div> -->
                {% if user.is_authenticated and request.user == answer.user %}
                <a class="delete_button" style="margin-left: 20px;" href="/{{answer.id}}/delete_reply">
                  <i class="icon-remove"></i> Delete
                </a>
                {% endif %}
                    </div>
                </div>
                {% empty %}
                <div class="comment-body comment-body-answered clearfix">
                <p>No answers here yet :(</p>
                  </div>
                {% endfor %}
                
                    </li>
                    
            
        </ol><!-- End commentlist -->
      </div><!-- End page-content -->
      
      <div id="respond" class="comment-respond page-content clearfix">
          <div class="boxedtitle page-title"><h2>Leave a reply</h2></div>
          {% if user.is_authenticated %}
      
          <form action="" method="post" action="" class="comment-form">
            {% csrf_token %}
            
              <div id="respond-textarea">
                  <p>
                      <label for="comment">Answer<span>*</span></label>
                      {{ form.reply }}
                  </p>
              </div>
              <p class="form-submit">
                <input name="submit" type="submit" value="Post your answer" class="button small color">
              </p>
          </form>
     
          {% else %}
          <h3>Please <a href="/{{'login'}}" style="text-decoration: underline; color: blue">Login</a> to Reply</h3>
          {% endif %}
      </div>
      
      <div class="post-next-prev clearfix">
          <p class="prev-post">
              <a href="#"><i class="icon-double-angle-left"></i>&nbsp;Prev question</a>
          </p>
          <p class="next-post">
              <a href="#">Next question&nbsp;<i class="icon-double-angle-right"></i></a>                                
          </p>
      </div><!-- End post-next-prev -->	
    </div><!-- End main -->
       
    {% endblock %}