{% extends "base.html" %}

{% block content %}

<div style="margin-top: 100px;">
<div class="my-3 p-3 rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent Questions</h6>
    {% for question in questions_list%}
    <div class="question">
    <div class="media text-muted pt-3">
        
        <div class="question-author">
            <a href="#" original-title="avatar" class="question-author-img tooltip-n"><span></span><img alt="" src="https://2code.info/demo/html/ask-me/images/demo/avatar.png"></a>
        </div>

      <div style="display: flex; flex-direction: column; margin-left: 101px; margin-top: -9px;">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <a href="/{{question.id}}/question_detail"><strong class="d-block text-gray-dark h4" style="color: black;">{{question.title}}</strong></a>
        {{question.description}} 
      </p>
      <em>Created {{ question.created|timesince }} ago</em>
  
    </div>
    </div>
</div>
    {% endfor %}

    <small class="d-block text-right mt-3">
      <a href="#">All Questions</a>
    </small>
  </div>
</div>
{% endblock %}