{% extends "base.html" %}
{% block content %}

<form action='' methord="GET">
    <input type="text" style="width: 85%; display: inline-block; border: 2px solid;" name="q" placeholder="search" value="{{ request.GET.q }}">
    <button type="submit" class="color button small" style="padding: 10px; width: 13%;">Search</button>
</form>
<div class="tabs-warp question-tab">
 
  <div class="tab-inner-warp">
<div class="tab-inner">

  {% for question in questions_list %}
<article class="question question-type-normal">
  <h2>
  
    <a href="/{{question.id}}/question_detail">{{question.title}}</a>
  </h2>

  <div class="question-author">
    <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://placehold.it/60x60/FFF/444"></a>
  </div>
  <div class="question-inner">
    <div class="clearfix"></div>
    <p class="question-desc">{{question.description|truncatewords:50}} </p>
    <div class="question-details">
      {% if question.status == 1 %}
      <span class="question-answered question-answered-done"><i class="icon-remove"></i>Not Solved</span>
      {% else %}
      <span class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</span>
      {% endif %}
    </div>
    <!-- <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span> -->
    <span class="question-date"><i class="icon-time"></i> Asked {{ question.created|timesince }} ago</span>
    {% for answer in answers_list %}
    <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer {{ answer.count }}</a></span>
    {% endfor %}
    <span class="question-view"><i class="icon-user"></i>Asked By {{ question.author }}</span>
    <!-- <span class="question-view"><i class="icon-user"></i>70 views</span> -->
    <span class="single-question-vote-result">+22</span>
    <ul class="single-question-vote">
      <li><a href="#" class="single-question-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
      <li><a href="#" class="single-question-vote-up" title="Like"><i class="icon-thumbs-up"></i></a></li>
    </ul>
    <div class="clearfix"></div>
    </div>
</article>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current">
      Page {{ page.number }} of {{ page.paginator.num_pages }}.
    </span>
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>


</div>
</div>
</div><!-- End page-content -->
{% endblock %}